<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h1 style="text-align: center"><%= @showClass %></h1>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="col-sm-12">
			<h4>Student Name</h4>
		</div>
		<div class="col-sm-12">
			<input type="text" id="name" name="name" class="form-control">
		</div>
	</div>
</div>
